<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="nombre_t_usuario">Nombre</label>
            <input type="text" class="form-control" required [(ngModel)]="tipo_usuario.Nombre_t_usuario" name="Nombre_t_usuario" id="nombre_t_usuario" placeholder="digite el nombre">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="estado">Estado</label>
            <input type="number" class="form-control" required [(ngModel)]="tipo_usuario.estado" name="estado" id="estado" placeholder="Escribe el estado">
          </div>
        </fieldset>      
        <fieldset class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" [disabled]="!usuarioForm.form.valid"><img src="../../../assets/check-regular-24.png" alt="Submit">Entregar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  