<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="Desc_genero">Desc_nombre</label>
            <input type="text" class="form-control" required [(ngModel)]="genero.Desc_genero" name="Desc_genero" id="Desc_genero" placeholder="Escriba la descripcion">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" [disabled]="!usuarioForm.form.valid"><img src="../../../assets/check-regular-24.png" alt="Submit">Entregar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  